<div class="container">
    <h1>Lista de Personas</h1>

    <form action="/persona/c">
        <input type="submit" value="Nueva" />
    </form>

    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>País nac.</th>
            <th>País resid.</th>
            <th>Gustos</th>
            <th>Aversiones</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>

        <tbody>
            <tr th:each=" persona : ${personas}">
                <td th:text="${persona.nombre}" />
                <td th:text="${persona.apellido}" />
                <td th:text="${persona.nace?.nombre}" />
                <td th:text="${persona.vive?.nombre}" />
                <td >
                    <th:block th:each=" gusto : ${persona.gustos}" th:text="|${gusto.nombre} |" /> 
                </td>
                <td>
                    <th:block th:each=" odio : ${persona.odios}" th:text="|${odio.nombre} |" /> 
                </td>
                <td>
                    <form action="/persona/u" method="get">
                        <input type="hidden" name="id" th:value="${persona.id}" />
                        <button type="submit" >
                            <img alt="lapiz" src="/img/icons/edit.png" width="20" height="20"/>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/persona/d" method="post">
                        <input type="hidden" name="id" th:value="${persona.id}" />
                        <button type="submit" >
                            <img alt="papelera" src="/img/icons/trash.png" width="20" height="20"/>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>