<div class="container">
    <h1>Nuevo usuario</h1>

    <form action="/usuario/c" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br />

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required><br />

        <label>Tipo de usuario:</label><br />
        <input type="radio" name="tipo" value="CLIENTE" id="cliente" checked>
        <label for="cliente">Cliente</label> <br />
        <input type="radio" name="tipo" value="EDITOR" id="editor"> 
        <label for="editor">Editor</label> <br />
        <input type="radio" name="tipo" value="ADMINISTRADOR" id="administrador"> 
        <label for="administrador">Administrador</label> <br />

        <input type="submit" value="Crear usuario">
    </form>
</div>