<div class="container" style="margin-top: 25px;">
    <h1>Lista de usuarios</h1>

    <a href="/usuario/c">Crear nuevo usuario</a>
    <br /><br />

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        <th:block th:each="u : ${usuarios}">
            <tr>
                <td th:text="${u.id}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.rol}"></td>
                <td>
                    <form th:action="@{/usuario/u}" method="get" style="display:inline">
                        <input type="hidden" name="id" th:value="${u.id}">
                        <input type="submit" value="Editar">
                    </form>
                    <form th:action="@{/usuario/d}" method="post" style="display:inline">
                        <input type="hidden" name="id" th:value="${u.id}">
                        <input type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro?')">
                    </form>
                </td>
            </tr>
        </th:block>
    </table>
</div>