<div class="container">
    <h1>Editar usuario</h1>

    <form action="/usuario/u" method="post">
        <input type="hidden" name="id" th:value="${usuario.id}" />

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${usuario.nombre}" required><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${usuario.email}" required><br />

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required><br />

        <input type="submit" value="Actualizar">
    </form>
</div>