<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <fieldset>

        <h1>Bienvenido</h1>
        <br><br>

        <input type="text" name="usuario" id="idUsuario" placeholder="Usuario">
        <br>

        <input type="password" name="contrasenya" id="idContrasenya" placeholder="Contraseña">
        <br>

        <input type="button" class="btn-login" value="Entrar">
        <br>

        <label>¿No tienes cuenta? <a href="registro.html">Regístrate</a></label>

    </fieldset>
</body>

</html>