<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/registro.css">
</head>

<body>
    <fieldset>
        <h1>Crear Cuenta</h1>

        <input type="text" name="nombre" id="idNombre" placeholder="Nombre completo">
        <input type="text" name="usuario" id="idUsuario" placeholder="Nombre de usuario">
        <input type="email" name="email" id="idEmail" placeholder="Correo electrónico">
        <input type="password" name="contrasenya" id="idContrasenya" placeholder="Contraseña">
        <input type="password" name="confirmar" id="idConfirmar" placeholder="Confirmar contraseña">

        <input type="button" value="Registrarse">

        <label>¿Ya tienes cuenta? <a href="login.html">Inicia sesión</a></label>
    </fieldset>
</body>

</html>
